<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="NextJsHandler" path="*" verb="*" modules="iisnode" scriptProcessor="server.js" resourceType="Unspecified" />
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="Next.js Rewrite" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>